@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 250ms ease;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --bgBlack: #353535;
    --bgWhite: #f6f6f6;
    --orange: rgb(255,69,0);
    --bgGrey :rgb(222, 222, 222);
    --pink-Color: #cb4362;
    --green-Color: #40c386;
    --golden-Color: #dfab4d;
    --white-Color: #fff;
    --dark-Color: #505050;
}

body {
    overflow-x: hidden;
}

.wrapper {
    width: 90vw;
    margin: 0 auto;
}


header {
    width: 100vw;
    height: 75px;
    background-color: var(--pink-Color);
    display: flex;
    position: fixed;
    z-index: 1;
    box-shadow: 0px 3px 10px #464646;
}

.logo {
    display: flex;
    align-items: center;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__content img {
    height: 70px;
    margin: 0 auto;
    position: relative;
    top: 7px;
    left: 20px;
}
.home {
    width: 100vw;
    background-color: var(--bgWhite);
    padding-top: 30px;
    padding-bottom: 20px;
}

nav {
    width: 100vw;
    height: 90px;
    background-color: var(--pink-Color);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0px 30px;
}

nav ul li a {
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

nav ul li a:hover {
    color: var(--golden-Color);
}   

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
    height: 75px;
}

.nav-list {
    display: flex;
    align-items: center;

}
.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
     margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: var(--bgWhite);
    font-weight: 400;
}

.order {
    margin: 100px auto;
    display: flex;
    width: 100%;
}

.order__left {
    width: 100%;
    height: 600px;
    display: inline;
}
div.images > div{
    background-color:var(--bgGrey);
    border-radius: 5px;
    transition: 500ms all;
}
div.images > div:hover{
    transform: scale(1.1);
}
.order__left h3, h2 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
}

.order__left h4 {
    text-align: center;
    margin-bottom: 50px;
}

.order__left p {
    margin-bottom: 10px;
    text-align: center;
}


.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 50px;
    background-color: var(--bgWhite);
}

.images div {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.images div button {
    width: 100%;
    height: 60px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    background-color: var(--golden-Color);
}


.images p {
    margin-top: 20px;

}

.images img {
    background-color: var(--bgGrey);
    border-radius: 5px;
}



footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    position: relative;
    bottom: 0;
    border-top: 1px solid var(--bgBlack);
    padding: 20px 0px;
}

footer img {
    height: 50px;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 1200px) {
    .header__content {
        display: flex;
        flex-direction: column;
    }
    
    .header__content .logo {
       position: absolute;
       top: 1px;
       margin-right: 230px;
    } 

    .nav-bar {
        padding: 1.5rem 4rem;
    }

    .nav-item {
        display: none;
     padding:120px ;
        
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        height: 100vh;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
        background-color: var(--pink-Color);
        border-radius: 5px;
    }
    .mobile-menu .nav-item {
        display: block;
        padding: 40px;
        width: 100vw;
        border-bottom: 1px solid var(--bgWhite);
    }

    .mobile-menu-icon img {
        height: 80px;
        margin-bottom: 10px;
        margin-left: 15px;
    }

    .open {
        display: block;
    }
    
}   

@media screen and (max-width:767px) {
    .header__content {
        display: flex;
        flex-direction: column;
    }
    
    .header__content .logo {
       position: absolute;
       top: 6px;
       margin-right: 230px;
    } 

    .nav-bar {
        padding: 1.5rem 4rem;
    }

    .nav-item {
        display: none;
     padding:120px ;
        
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        height: 25vh;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
        background-color: var(--pink-Color);
        border-radius: 5px;
    }
    .mobile-menu .nav-item {
        display: block;
        padding: 15px;
        width: 100vw;
        border-bottom: 1px solid var(--bgWhite);
    }

    .mobile-menu-icon img {
        height: 55px;
        margin-bottom: 10px;
        margin-left: 15px;
    }

    .open {
        display: block;
    }
}

@media screen and (max-width:320px) {
    .header__content {
        display: flex;
        flex-direction: column;
    }
    
    .header__content .logo {
       position: absolute;
       top: 1px;
       margin-right: 230px;
    } 

    .nav-bar {
        padding: 1.5rem 4rem;
    }

    .nav-item {
        display: none;
     padding:120px ;
        
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        height: 100vh;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
        background-color: var(--pink-Color);
        border-radius: 5px;
    }
    .mobile-menu .nav-item {
        display: block;
        padding: 40px;
        width: 100vw;
        border-bottom: 1px solid var(--bgWhite);
    }

    .mobile-menu-icon img {
        height: 80px;
        margin-bottom: 10px;
        margin-left: 15px;
    }

    .open {
        display: block;
    }
    
    .images {
        flex-wrap: wrap;
    }

    .images img {
        width: 140px;
        height: 140px;
    }

    .order__left h3 {
        font-size: 15px;
    }

    .order__left h4 {
        font-size: 15px;
    }
}