@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    transition: all 250ms ease;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --bgBlack: #353535;
    --bgWhite: #f6f6f6;
    --orange: rgb(255,69,0);
    --bgGrey :rgb(222, 222, 222);
    --pink-Color: #cb4362;
    --green-Color: #40c386;
    --golden-Color: #dfab4d;
    --white-Color: #fff;
    --dark-Color: #505050;
}

body {
    overflow-x: hidden;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

.big__h1 {
    text-align: center;
    font-size: 45px;

}

a {
    text-decoration: none;
    color: black;
}

header {
    width: 100%;
    height: 90px;
    background-color: var(--pink-Color);
    display: flex;
    position: fixed;
    z-index: 1;
    box-shadow: 0px 3px 10px #464646;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 100px;
    margin: 0 auto;
    position: relative;
    top: 7px;
}

.nav-list {
    display: flex;
    align-items: center;

}
.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
     margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: var(--bgWhite);
    font-weight: 400;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__content img {
    height: 100px;
    margin: 0 auto;
    position: relative;
    top: 7px;
}

nav {
    width: 100%;
    height: 90px;
    background-color: var(--pink-Color);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0px 30px;
}

nav ul li a {
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

nav ul li a:hover {
    color: var(--golden-Color);
}

.home{
    width: 100%;
    background-color: var(--bgWhite);
    padding-top: 140px;
    padding-bottom: 20px;
}

.home__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home__left{
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.home__left h1 {
    font-size: 2.5rem;
    width: 60%;
}

.home__left p {
    font-size: 20px;
}

.home__left button {
    outline: none;
    background-color: var(--green-Color);
    border: none;    
    color: var(--bgWhite);
    font-size: 18px;
    font-weight: 700;
    width: 200px;
    height: 50px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: 0.5s;
}

.home__left button a {
    text-decoration: none;
    color: var(--bgWhite);
}

.home__left button:hover {
    transform: scale(1.1);
}

#bg_black {
    border-color: var(--bgBlack);
    color: white;
    background-color: var(--bgBlack);
}

#bg_black:hover {
    background-color: var(--golden-Color);
    border: 1px solid transparent;
    color: var(--bgBlack);
}

.home__left button:first-child {
    margin-right: 20px;
}

.home__right{
    width: 50%;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 25px;
}

.home__right p {
    height: 350px;
    width: 350px;
    background-color: var(--golden-Color);
    border-radius: 50%;
    position: absolute;
    margin-top: 50px;
}

.home__right img {
    height: 400px;
    position: relative;
    top: 10px;
}



/* Categories*/
.categories {
    margin: 50px auto;
}

.categories__cards {
    margin: 100px 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.categories__card {
    width: calc(100% / 3 - 100px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bgGrey);
    height: 200px;
    padding: 20px;
    border-radius: 10%;

}

.categories__card:hover {
    border: 1px solid var(--golden-Color);
    background-color: white;
}

.categories__card:hover a {
    color: var(--golden-Color);

}

.categories__card img {
    height: 300px;
    margin-bottom: 80px;
}

.categories__cardLeft {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.categories__cardLeft h3 {
    font-size: 26px;
}

.categories__cardLeft a {
    font-size: 24px;
    font-weight: 600;
}



/* Featured */
.featured {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
}

.featured p {
    width: 50%;
    text-align: center;
    align-self: center;
    margin: 20px 0px;
    border-radius: 5px;
}

.featured__btn {
    width: 50%;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
}

.featured__btn p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 60px;
    font-size: 18px;
    font-weight: 600;
    margin: 0px 10px;
    background-color: var(--bgGrey);
}

.featured__btn p:hover {
    color: white;
    background-color: var(--golden-Color);
}

.featured__cards {
    margin: 100px 0px 10px 0px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.featured__card{
    width: calc(50% / 2 - 100px);
}

.featured__card .featured__image {
    width: 100%;
    height: 330px;
    background-color: var(--bgGrey);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    
}

.featured__image img {
    width: 80%;
}

.featured__des {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}

.featured__left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-top: 5px;
}

.featured__left h4 {
    font-size: 18px;
    height: 30px;
    display: inline;
}

.featured__left p {
    align-self: flex-start;
    text-align: left;
    font-size: 18px;
    width: 100px;
    overflow-x: hidden;
}

.featured__right p{
    font-size: 18px;
    font-weight: 800;
}

.featured__button {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--golden-Color);
    border-radius: 10px;
}

.featured__button a {
    font-size: 15px;
    font-weight: 700;
    color: white;
    cursor: pointer;
}

.featured__button:hover {
    background-color: var(--bgWhite);
    border: 1px solid var(--golden-Color);
    cursor: pointer;
}

.featured__button:hover a {  
    color: var(--golden-Color);
}


/* Fashion */
.fashion {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.localization {
    text-align: center;
    margin-bottom: 3.5em;
}

.fashion__left {
    width: 45%;
    height: 600px;
}   

.fashion__right{
    width: 50%;
    padding: 20px;
}

.fashion__right h1 {
    font-size: 40px;
}

.fashion__right p {
    margin-top: 20px;
    font-size: 24px;
    line-height: 50px;
    position: relative;
    bottom: 100px;
    margin-left: 30px;
}

.fashion__right button {
    width: 150px;
    height: 50px;
    margin-top: 50px;
    background-color: var(--golden-Color);
    border: 0;
    font-size: 18px;
    font-weight: 600;
    color: white;
}

.order {
    margin: 100px auto;
    display: flex;
    gap: 20px;
}

.order__left {
    width: 50%;
    height: 600px;
    background-color: var(--bgGrey);
    display: inline;
    border-radius: 20px;
}

.order__left h3 {
    text-align: center;
    padding: 30px 0px 50px 0px;
}

.images {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.images img {
    margin-bottom: 15px;
    border-radius: 3px;
}

.images img:hover {
    transform: scale(1.3);
    transition: all ease-in 0.4s;
}

.down__order__test {
    display: flex;
}

.left__order__left {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.left__order__left p {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 18px;
    font-weight: 900;
    color: white;
    background-color: var(--bgBlack);
}

.left__order__left h3{
    font-size: 36px;
    font-weight: 600;
    width: 80%;
}

.left__order__left a{
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    font-weight: 800;
    background-color: var(--golden-Color);
}

.right__order__left img  {
    width: 100%;
    height: 600px;
    object-fit: contain;
}

.order__right {
    width: 50%;
    height: 600px;
    display: flex;
    flex-direction: column;
}

.order__shop {
    width: 100px;
    height: 50px;
    color: white;
    background-color: var(--golden-Color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.up__order__right {
    height: 50%;
    background-color: var(--bgBlack);
    display: flex;
    justify-content: center;
    align-items: center;
}

.up__order__right p {
    color: white;
}

.down__order__right {
    width: 100%;
    display: flex;
    border: 1px solid black;
    cursor: pointer;
}

.small__left {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
}

.small__order {
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.down__order__right:nth-child(1) {
    margin-right: 10px;
}

.small__right {
    width: 50%;
}

.small__right img {
    height: 250px;
}

.down {
    padding-left: 10px;
    row-gap: 20px;
    display: flex;
    justify-content: center;
}

.down p {
    padding: 0px !important;
    display: inline;
    height: 50px;
    width: 100px;
    border-radius: 0px;
    display: flex;
}

.down h3 {
    font-size: 26px;
}

.down__margin {
    border-left: 20px solid white;
}

.video_ilus {
    border-radius: 20px;
    background-color: var(--bgWhite);
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    position: relative;
    bottom: 0;
    border-top: 1px solid var(--bgBlack);
    padding: 20px 0px;
}

footer img {
    height: 50px;
}

@media screen and (max-width: 1200px) {

    .categories__cards {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .categories__card {
        width: 45%;
    }

    .categories__card:last-child {
        margin-top: 10%;
    }


    .featured p {
        width: 100%;
    }

    .featured__btn {
        width: 80%;
    }

    .featured__cards {
        gap: 20px;
        row-gap: 30px;
    }

    .featured__card {
        width: calc(100% / 2 - 40px);
    }

    .order {
        flex-direction: column;
    }

    .order__left {
        width: 100%;
    }

    .order__right {
        width: 100%;
    }

    .recent__cards {
        flex-direction: column;
    }
    
    .recent__card {
        width: 70%;
    }
}


@media screen and (max-width: 768px) {
    .header__content {
        display: flex;
        flex-direction: column;
    }
    
    .header__content img {
       display: none;
    } 

    nav {
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    nav ul li {
        margin: 10px 10px;
        padding: 0px 5px;
        justify-self: center;
        align-self: center;
    }

    nav ul li a {
        font-size: 18px;
        font-weight: 600;
    }

    .home__content {
        flex-direction: column;
        row-gap: 10px;
        padding: 20px 0px;
    }

    .home__left{
        width: 100%;
        row-gap: 30px;
    }

    .home__right p {    
        height: 300px;
        width: 300px;
        margin-top: 80px;
    }

    .home__right img {
        height: 400px;
        position: relative;
        top: 45px;
    }

    .categories__cards {
        flex-direction: column;
        margin: 0px;
        margin-top: 50px;
    }   

    .categories__card {
        width: 100%;
        margin: 50px 0px;
    }

    .featured {
        margin: 0px auto;
    }
    .featured p {
        width: 100%;
    }

    .featured__btn {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;

    }

    .featured__cards {
        margin: 0px 0px;
    }

    .featured__card {
        width: 100%;
        margin: 50px 0px;
    }

    .featured__card .featured__image {
        width: 100%;
        height: 500px;
        background-color: var(--bgGrey);
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    
    .featured__image img {
        width: 60%;
        object-fit: contain;
    }

    .fashion {
        flex-direction: column;
    }

    .fashion__left {
        width: 100%;
        background-size: contain;
    }

    .fashion__right {
        width: 100%;
    }

    .fashion__right p {
        font-size: 18px;
        line-height: auto;
        margin-top: 70px;
    }
    
    .order {
        flex-direction: column;
    }

    .order__left {
        width: 100%;
        overflow-y: auto;
    }

    .order__right {
        width: 100%;
    }

    .order__right p {
        padding: 50px 100px;
    }

    .down__order__right {
        width: 100%;
    }

    .down__p {
        padding: 0px !important;
    }

    .recent {
        padding-top: 100px;
    }

    .recent__cards {
        flex-direction: column;
    }

    .recent__card {
        width: 100%;
        margin-top: 50px;
    }

    .down__order__right {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .small__order {
        width: 100%;
    }

}

@media screen and (max-width:320px) {
    .header__content img {
        display: none;
    }
    
    nav {
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    nav ul li {
        margin: 10px 10px;
        padding: 0px 5px;
        justify-self: center;
        align-self: center;
    }

    nav ul li a {
        font-size: 15px;
        font-weight: 600;
    }
    
    .categories__card {
        width: 250px;
        height: 250px;
    }

    .categories__card img {
        width: 200px;
    }
}